body {
    margin: 0;
    padding: 0;

    font-family: Sarabun;
}

h1 {
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;

    font-size: 40px;
    font-weight: bold;
}

header {

    background-color: rgb(0, 116, 217);
    vertical-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    color: white;
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

main {
    text-align: center;
}

h2 {
    font-size: 90px;
    margin: 0;

    position: fixed;
    width: 100%;
}

img {
    width: min(90vh, 90vw);
    
}

footer {
    background-color: whitesmoke;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
}

.leaderBoard {
    background-color: red;
    position: fixed;
}

#userBox {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 20px;
    
} 

#userBox:hover {
    cursor: pointer;

    background-color: white;
    color: rgb(0, 116, 217);

}


