body {
    margin: 0;
    padding: 0;

    font-family: "Sarabun";

    overflow-y: hidden;

    
}

h1 {
    color: white;
    text-align: center;
    padding: 1.5vh 0;
    margin: 0;

    font-size: 30px;
    font-weight: bold;
}

header {

    background-color: rgb(0, 116, 217);
    vertical-align: center;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    color: white;
    text-align: center;
    padding: 1vh 20px;
}

main {
    text-align: center;

    background-image: url('picture/grass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100vh;
}

h2 {
    font-size: 90px;
    margin: 0;

    position: fixed;
    width: 100%;
    color: white;
}

main img {
    height: 60vw;
    
}

footer {
    position: fixed;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.leadertop, .leaderboard {
    background-color: whitesmoke;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    width: 80%;
    margin: 0 auto;
    padding: 0.5rem 15px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.leadertop span {
    background-color: purple;
    
    font-size: 18px;
    font-weight: bold;
    color: white;

    border-radius: 20px;
    padding: 3px 15px;

    margin-left: 5px;
}

.leadertop span:hover {
    cursor: pointer;
    opacity: 0.7;
}

.leadertop #upDownArrow {
    padding: 1px 9px;
    border-radius: 50%;
}
.leadertop #upDownArrow:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.leaderboard table {
    width: 100%;
    text-align: center;
}

.leaderboard {
    border-radius: 0;
    border-top: 1px solid grey;
}

.copyright p {
    background-color: lightgray;
    padding: 1.5vh;

    border-top: 1px solid grey;
    
}

#userBox {
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 20px;
    
} 

#userBox:hover {
    cursor: pointer;

    background-color: white;
    color: rgb(0, 116, 217);

}


